/****** PLACE YOUR CUSTOM STYLES HERE ******/


.subscribe-button:hover {
  background-color: #223f63;
  color: #fff;
}

.container{
max-width: none;
}

body.boxed-layout, .boxed-layout .nav-container, .boxed-layout .main-container, .boxed-layout nav{
  max-width: none;
}

@media (min-width: 1200px){
  .container {
    width: auto;
  }
}
.subscribe-button {
  color: #fff;
  background-color: #35649c;
  border: 1px solid white;
  max-width: 270px;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

#donate-button::before {
  content: "Donate your old laptop"
}

#donate-button:hover::before {
  font-size: 12px;
  content: "CodeSchool@kiron.university"
}

.blue_back{
  background-color: #2B5486;
}

.background-gray-b7{
  background-color: #b7b7b7;
  color: #fff;
}

.background-blue{
background-color: #2B5486;
color: #fff;
}

.white_text{
  color: #FFF;
}


.text-blue-dark{
  color: #003468
}

.text-justify {
  text-align: justify;
}

.text-black{
  color: #000;
}

.kblue_text{
  color: #35649c;
}

.outer-title img{
  margin: 0
}

.background-black{
background-color: #000;
color: #fff;
}
@media (min-width: 992px) {
  .col-md-24{
  width: 20%
  }
}

@media (min-width: 768px){
  .col-sm-24 {
      \width: 20%;
  }
}


img{
   max-width: 100%;
   height: auto;
}

.image-about{
  max-width: 230px;
  margin: auto
}

.bg-white{
    background:#ffffff !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  margin: auto;
}

.image-label{padding: 15px 5px }

a { cursor: pointer; cursor: hand; }

section#timeline{ background-color: #fff}


.timeline::before {
  background-color:#35649c;
  margin-top: 20px;
  margin-bottom: 150px;
}

/* Main section style */

.intro-header{
  position: relative;
  box-sizing: margin-box;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/heading/image.jpg) no-repeat center center;
  background-size: cover;
}

.intro-super{
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message p {
font-weight: 900;
font-size: 18px
}

.intro-message h1 {
  color: #444
}

/* Timeline section style */

.timeline{
  min-width: 300px
}

.timeline-title{
  margin-bottom: 10px;
}

.timeline-head{

}

.timeline-text{
  padding:  5% 5%;
}
.path_time{
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px !important
}

.timeline-logo{
  border-radius: 50%;
  padding: 10px;
  width: 120px;
  height: 120px;
  margin: auto;
  margin-bottom: 10px
}

.timeline-logo-icon{
  background-color: white !important;
  background-size: contain !important;
  background-size: 80px 80px !important;
}

.rocket{
  background: url(../img/rocket.svg) no-repeat center center;
}



.class{
  background: url(../img/class.svg) no-repeat center center;
}

.project{
  background: url(../img/project.svg) no-repeat center center;
}

.intership{
  background: url(../img/intership.svg) no-repeat center center;
}

.job{
  background: url(../img/job.svg) no-repeat center center;
}

.timeline-box{
  margin: auto;
  margin-top: 20px;
  max-width: 300px;
}


/*donate laptop*/
#laptop{
background-color: #0f0
margin-top: 20px;
margin-bottom: 20px;
font-size: 30px;
}

/* facebook like */

.fb-like {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

/* effects */

.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.morph:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.grayscale{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale-50{
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.ungrayscale:hover{
  filter: none;
  -webkit-filter: grayscale(0%);
}
